/* Auto hide tab bar if there is only 1 tab */

#tabbrowser-tabs, #tabbrowser-arrowscrollbox {
  min-height: 0 !important;
  transition: height 150ms ease-in-out, opacity 150ms ease-in-out !important;
}

#tabbrowser-tabs:has(.tabbrowser-tab:only-of-type):not(:has(tab-group)):not(:has([pinned])),
#tabbrowser-tabs:has(.tabbrowser-tab:only-of-type):not(:has(tab-group)):not(:has([pinned])) + #tabbrowser-arrowscrollbox-periphery {
  height: 0px !important;
  opacity: 0 !important;
}

#tabbrowser-tabs:not(:has(.tabbrowser-tab:only-of-type)),
#tabbrowser-tabs:not(:has(.tabbrowser-tab:only-of-type)) + #tabbrowser-arrowscrollbox-periphery {
  height: calc(var(--tab-min-height) + var(--tab-margin-top) + var(--tab-margin-bottom)) !important;
  opacity: 1 !important;
}

/* Avoid an issue with the bottom of tabbar adjusting and covering the tabs when moving tabs */
#tabbrowser-tabs[movingtab],
#tabbrowser-tabs[movingtab] + #tabbrowser-arrowscrollbox-periphery {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  height: calc(var(--tab-min-height) + var(--tab-margin-top) + var(--tab-margin-bottom)) !important;
}
