:root {
  --firefoxcss-control-buttons-margin: 100px !important;
}

#nav-bar .titlebar-buttonbox-container {
  display: initial !important;
}

@media (-moz-platform: windows) {
  /* ----- Close/min/max fix ----- */
  #TabsToolbar .titlebar-buttonbox-container,
  #nav-bar .titlebar-buttonbox-container{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-right: 5px !important;
    padding-left: 3px !important;
  }

  .titlebar-buttonbox-container .titlebar-button > .toolbarbutton-icon {
    height: 12px !important;
    min-height: 12px !important;
    width: 12px !important;
    min-width: 12px !important;
  }

  .titlebar-buttonbox-container .titlebar-button {
    border-radius: var(--toolbarbutton-border-radius);
    padding: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top: 2px !important;
    margin-left: 5px !important;
    margin-right: 0px !important;
    height: 28px !important;
    min-height: 28px !important;
    width: 28px !important;
    min-width: 28px !important;
  }

  @media not -moz-pref("firefoxcss.tabs.on.top.enable") {
    #toolbar-menubar .titlebar-button {
      padding-block: 0px !important;
    }

     #nav-bar-customization-target
        > :is(toolbarbutton, toolbaritem):first-child {
        padding-inline-start: 2px !important;
    }

     :root[sizemode="maximized"] .titlebar-buttonbox-container {
        padding-top: 0px !important;
      }

    #navigator-toolbox[inFullscreen] #nav-bar {
        padding-right: initial !important;
      }

    @media not -moz-pref("sidebar.verticalTabs") {


      /* #nav-bar {
        padding-right: var(--firefoxcss-control-buttons-margin) !important;
      }

      #navigator-toolbox:not([inFullscreen])
        #TabsToolbar
        .titlebar-buttonbox-container {
        visibility: visible !important;
        display: flex !important;
        position: absolute !important;
        top: 1px;
        right: 0;
      } */


      .titlebar-buttonbox-container .titlebar-min {
        order: 0 !important;
      }

      .titlebar-buttonbox-container .titlebar-max,
      .titlebar-restore {
        order: 1 !important;
      }

      .titlebar-buttonbox-container .titlebar-close {
        order: 2 !important;
      }

      @media only screen and (max-width: 670px) {
        #navigator-toolbox:not([inFullscreen])
          #TabsToolbar
          .titlebar-buttonbox-container {
          visibility: visible !important;
          display: flex !important;
          position: relative !important;
          order: 1 !important;
          padding-top: 1px !important;
          padding-bottom: 1px !important;
        }

        #navigator-toolbox:not([inFullscreen]) #nav-bar {
          padding-right: initial !important;
        }
      }
    }
  }
}
